body {color: #fff; box-sizing: border-box;}
#wrapper {
    width: 70%;
    margin: 0 auto;
}
b {font-size: 64px; color: #555; cursor: pointer; position: absolute; top:0;}
table, th, td {
    border-collapse: collapse;
}

th, td {
    padding: 5px 15px;
    text-align: left;
}

table {
    color: #fff;
    border-spacing: 5px;
}

table tr~tr{
    border-top: 1px solid #dddddd;
}

.table-wrapper tr:nth-child(even) {
    background-color: #333;
}

.table-wrapper tr:nth-child(odd) {
    background-color: #000;
}

.table-wrapper th:nth-child(1),td:nth-child(4n+1) {
    width: 10%;
}
.table-wrapper th:nth-child(2),td:nth-child(4n+2) {
    width: 22%;
}
.table-wrapper th:nth-child(3),td:nth-child(4n+3) {
    width: 58%;
}
.table-wrapper th:nth-child(4),td:nth-child(4n+4) {
    width: 10%;
}

.table-wrapper {
    width: 650px;
    margin-top: 25px;
    vertical-align: top;
    min-height: 70px;
    display: inline-block;
}

.table-wrapper:nth-child(2n+1) {margin-right: 20px;}

.table-wrapper i{color: #712323; cursor: pointer;}
.table-wrapper i:hover {color: #ff0000; transition: 0.3s linear;}
.table-wrapper b{color: green;}

.table-body td span{display: inline-block; margin: 0 5px;}

.table-wrapper span:hover{cursor: pointer;}

.linklist, .listhead {
    width: 100%;
    border: 1px solid #dddddd;
}

.table-body {
    max-height: 210px;
    overflow: auto;
}

#add_link {
    width: 520px;
    margin: 25px auto 0 auto;
    padding-left: 20px;
}
input, select {
    color: #fff;
    background-color: #000;
}
h1 {
    font: 4.0em 'Lobster', cursive;
    text-align: center;
}
